.pages {
  margin-left: 15vw;
  margin-right: 15vw;

  h1, h2 {
    text-align: center;
    padding: 4rem;
  }
}

.pages {
  padding-top: 4rem;
}

@media (max-width: 1080px) {
  .pages {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media (max-width: 720px) {
  .pages {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

/* Navigation */

nav {
  position: fixed;
  z-index: 50;
  height: 4rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  transition: color ease-out 0.5s;
}

.nav-header {
  margin: 0;
  font-size: 1.25rem; /* 20px */
  text-wrap: nowrap;
  position: relative;
  z-index: 50;
}

#nav-toggle,
.burger-wrapper {
  display: none;
}

.nav-links {
  margin: 0;
  padding: 0;
  width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 720px) {
  .burger-wrapper {
    display: inline-block;
    z-index: 50;
  }

  .burger {
    margin-top: 1.535rem;
    margin-right: 5vw;
    display: block;
    width: 28px;
    height: 16px;
    right: 0;
    top: 0;
    position: absolute;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      height: 0;
      border-bottom: 2px solid var(--text);
      width: 100%;
      left: 0;
      right: 0;
      transition: all ease-out 0.3s;
    }

    &:after {
      top: 100%;
    }

    i {
      display: block;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: 2px;
      background-color: var(--text);
      width: 100%;
      position: absolute;
      top: 50%;
      transition: all ease-out 0.1s;
    }
  }

  #nav-toggle:checked ~ .burger-wrapper > :first-child > :first-child {
    &:after {
      transform: rotate(-45deg);
      transform-origin: center;
      top: 50%;
    }

    &:before {
      transform: rotate(45deg);
      transform-origin: center;
      top: 50%;
    }

    i {
      opacity: 0;
    }
  }

  .nav-links {
    padding-top: 4rem;
    height: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    text-wrap: nowrap;
    background-color: var(--background);
    transition: background-color ease-out 0.5s, color ease-out 0.5s,
      height linear 0.07s;

    li {
      margin-left: 5vw;
    }
  }

  #nav-toggle:checked ~ .nav-links {
    height: 50vh;
    background-color: var(--background);
    border-bottom: 2px solid var(--text);
  }
}

.nav-bar {
  padding-left: 15vw;
  padding-right: 15vw;
}

@media (max-width: 1080px) {
  .nav-bar {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (max-width: 720px) {
  .nav-bar {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* Buttons */
.btn-1 {
  background-color: var(--background);
  border: 1px solid var(--text);
  color: var(--text);
}

.btn-2 {
  background-color: var(--text);
  border: 1px solid var(--text);
  color: var(--background);
}

.btn-1,
.btn-2 {
  &:hover {
    cursor: pointer;
    opacity: 50%;
  }
}

.btn-3 {
  background-color: var(--background);
  border: 1px dashed var(--text);
  color: var(--text);
  opacity: 50%;
}

.btn-1,
.btn-2,
.btn-3 {
  padding: 15px 10px;
  width: 100%;
}

/* Project Wrapper */

.project-page {
  margin-bottom: 10rem;
  animation: fade-in 1s cubic-bezier(0.05, 0.45, 0.67, 1);
}

.project-page > :nth-child(2) {
  border-top: 1px solid var(--text);
}

.project-wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--text);
  border-top: none;
  background-color: var(--background);
}

.proj-preview {
  grid-column: auto / span 1;
}

.proj-description {
  grid-column: auto / span 1;
}

.proj-links {
  padding-top: 1rem;

  a {
    padding-right: 0.5rem;
  }
}

.proj-tech {
  width: 100%;
  grid-column: auto / span 2;
  justify-self: start;
  display: flex;
  align-items: center;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-item {
  padding: 1px;
  background-color: var(--primary);
  color: var(--background);
  text-wrap: nowrap;
}

@media (max-width: 720px) {
  .project-wrapper {
    grid-template-columns: 1fr;
  }

  .proj-tech {
    grid-column: auto / span 1;
    flex-wrap: wrap;
  }
}

/* Project Image Slider */

.preview-slider {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;

  span {
    position: absolute;
    bottom: 40%;
    font-size: 2rem;
    opacity: 30%;
    background-color: var(--background);
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }

  span:hover {
    cursor: pointer;
    opacity: 70%;
  }
}

.images-container {
  display: flex;
  align-items: center;
  transition: transform 0.2s cubic-bezier(0.06, 0.23, 0.55, 0.8);
}

.right-slider {
  right: 0;
}

.preview-img {
  width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

/* About */

.about-page {
  height: 100vh;
  margin-bottom: 10rem;
  animation: fade-in 1s cubic-bezier(0.05, 0.45, 0.67, 1);

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  ul > li {
    padding: 1px;
    color: var(--background);
    text-wrap: nowrap;
  }
}

/* Contact */

.contact-page {
  margin-bottom: 10rem;
  animation: fade-in 1s cubic-bezier(0.05, 0.45, 0.67, 1);
}

.contact-info {
  display: flex;
  gap: 3rem;
  align-items: center;
  border: 1px solid var(--text);
  padding: 3rem;
  text-decoration: none;
  color: currentColor;
  margin: 100px auto 0;

  img {
    width: 100px;
    aspect-ratio: 1 / 1;
    filter: invert();
  }
}

.steam-anim {
  position: relative;
  background-color: var(--background);

  &:hover {
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0);

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: -2px;
      top: -2px;
      background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -1;
      animation: steam 20s linear infinite;
    }

    &:after {
      filter: blur(50px);
    }
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 525px) {
  .contact-info {
    margin: 0;
    padding: 40px 5vw;
    border: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;

    p {
      font-size: small;
    }

    img {
      width: 15vw;
    }
  }

  .steam-anim {
    &:hover {
      &:before,
      &:after {
        all: unset;
      }  
    }
  }
}

@media (prefers-color-scheme: light) {
  .contact-info {
    img {
      filter: none;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/* List Animations */

.up-anim {
  animation: up-anim 0.9s cubic-bezier(0.81, -0.88, 0.22, 1.84);
}

@keyframes up-anim {
  0% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Hero */

.hero-page {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite,
    fade-in 1s cubic-bezier(0.05, 0.45, 0.67, 1);
  height: 85vh;
  padding: 0 50px 0;

  a {
    display: flex;
    text-decoration: none;
    span {
      font-size: 2.4vmax;
      color: var(--background);
    }
    button {
      background-color: var(--background);
      color: var(--text);
      border-radius: 5px;
      opacity: 90%;
      padding: 0 10px 0;
      font-size: 1.2vmax;
      transition: transform 0.1s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.05, 1.05);
        opacity: 100%;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 720px) {
  .hero-page {
    padding: 0 20px 0;
  }
}
