/* Navigation */

nav {
  z-index: 100;
  padding: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  transition: color ease-out 0.5s;
}

.nav-header {
  margin: 0;
  font-size: 1.25rem; /* 20px */
  text-wrap: nowrap;
  position: relative;
  z-index: 100;
}

#nav-toggle,
.burger-wrapper {
  display: none;
}

.nav-links {
  margin: 0;
  padding: 0;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

@media (max-width: 720px) {
  .burger-wrapper {
    display: inline-block;
    z-index: 100;
  }

  .burger {
    margin-top: 1.535rem;
    margin-right: 5vw;
    display: block;
    width: 28px;
    height: 16px;
    right: 0;
    top: 0;
    position: absolute;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      height: 0;
      border-bottom: 2px solid var(--text);
      width: 100%;
      left: 0;
      right: 0;
      transition: all ease-out 0.3s;
    }

    &:after {
      top: 100%;
    }

    i {
      display: block;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: 2px;
      background-color: var(--text);
      width: 100%;
      position: absolute;
      top: 50%;
      transition: all ease-out 0.1s;
    }
  }

  #nav-toggle:checked ~ .burger-wrapper > :first-child > :first-child {
    &:after {
      transform: rotate(-45deg);
      transform-origin: center;
      top: 50%;
      border-color: var(--background);
    }

    &:before {
      transform: rotate(45deg);
      transform-origin: center;
      top: 50%;
      border-color: var(--background);
    }

    i {
      opacity: 0;
      background-color: var(--background);
    }
  }

  .nav-links {
    padding-top: 4rem;
    height: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    text-wrap: nowrap;
    background-color: var(--background);
    transition:
      background-color ease-out 0.5s,
      color ease-out 0.5s,
      height linear 0.07s;

    li {
      margin-left: 5vw;
    }
  }

  #nav-toggle:checked ~ .nav-links {
    height: 50vh;
    color: var(--background);
    background-color: var(--primary);
  }

  nav:has(#nav-toggle:checked) {
    color: var(--background);
  }
}

/* Buttons */
.btn-1 {
  background-color: var(--background);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-2 {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--text);
}

.btn-1,
.btn-2 {
  transition: filter ease-in .2s;
  &:hover {
    filter: invert();
    cursor: pointer;
  }
}

.btn-3 {
  background-color: var(--background);
  border: 1px solid var(--text);
  color: var(--text);
}

/* Project Wrapper */

.project-wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--text);
  border-top: none;
}

.proj-preview {
  grid-column: auto / span 1;
}

.proj-description {
  grid-column: auto / span 1;
}

.proj-links {
  padding-top: 1rem;

  a {
    padding-right: .5rem;
  }
}

.proj-tech {
  width: 100%;
  grid-column: auto / span 2;
  justify-self: start;
  display: flex;
  align-items: center;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-item {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--background);
  text-wrap: nowrap;
}

@media (max-width: 720px) {
  .project-wrapper {
    grid-template-columns: 1fr;
  }  

  .proj-tech {
    grid-column: auto / span 1;
  }  
}

/* Project Image Slider */

.preview-slider {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;

  span {
    position: absolute;
    bottom: 40%;
    font-size: 2rem;
    opacity: 30%;
    background-color: var(--background);
  }

  span:hover {
    cursor: pointer;
    opacity: 70%;
  }
}

.images-container {
  display: flex;
  align-items: center;
  transition: transform .2s cubic-bezier(.06,.23,.55,.8);
}

.right-slider {
  right: 0;
}

.preview-img {
  width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}