.pages {
  margin-left: 15vw;
  margin-right: 15vw;

  h2 {
    text-align: center;
    padding: 4rem;
  }
}

.pages {
  padding-top: 4rem;
}

@media (max-width: 1080px) {
  .pages {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media (max-width: 720px) {
  .pages {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

/* Navigation */

nav {
  position: fixed;
  z-index: 100;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  transition: color ease-out 0.5s;
}

.nav-header {
  margin: 0;
  font-size: 1.25rem; /* 20px */
  text-wrap: nowrap;
  position: relative;
  z-index: 100;
}

#nav-toggle,
.burger-wrapper {
  display: none;
}

.nav-links {
  margin: 0;
  padding: 0;
  width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 720px) {
  .burger-wrapper {
    display: inline-block;
    z-index: 100;
  }

  .burger {
    margin-top: 1.535rem;
    margin-right: 5vw;
    display: block;
    width: 28px;
    height: 16px;
    right: 0;
    top: 0;
    position: absolute;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      height: 0;
      border-bottom: 2px solid var(--text);
      width: 100%;
      left: 0;
      right: 0;
      transition: all ease-out 0.3s;
    }

    &:after {
      top: 100%;
    }

    i {
      display: block;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: 2px;
      background-color: var(--text);
      width: 100%;
      position: absolute;
      top: 50%;
      transition: all ease-out 0.1s;
    }
  }

  #nav-toggle:checked ~ .burger-wrapper > :first-child > :first-child {
    &:after {
      transform: rotate(-45deg);
      transform-origin: center;
      top: 50%;
    }

    &:before {
      transform: rotate(45deg);
      transform-origin: center;
      top: 50%;
    }

    i {
      opacity: 0;
    }
  }

  .nav-links {
    padding-top: 4rem;
    height: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    text-wrap: nowrap;
    background-color: var(--background);
    transition: background-color ease-out 0.5s, color ease-out 0.5s,
      height linear 0.07s;

    li {
      margin-left: 5vw;
    }
  }

  #nav-toggle:checked ~ .nav-links {
    height: 50vh;
    background-color: var(--background);
    border-bottom: 2px solid var(--text);
  }
}

.nav-bar {
  padding-left: 15vw;
  padding-right: 15vw;
}

@media (max-width: 1080px) {
  .nav-bar {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (max-width: 720px) {
  .nav-bar {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* Buttons */
.btn-1 {
  background-color: var(--background);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-2 {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--text);
}

.btn-1,
.btn-2 {
  transition: filter ease-in 0.2s;
  &:hover {
    filter: invert();
    cursor: pointer;
  }
}

.btn-3 {
  background-color: var(--background);
  border: 1px solid var(--text);
  color: var(--text);
}

/* Project Wrapper */

.project-page > :nth-child(2) {
  border-top: 1px solid var(--text);
}

.project-wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--text);
  border-top: none;
}

.proj-preview {
  grid-column: auto / span 1;
}

.proj-description {
  grid-column: auto / span 1;
}

.proj-links {
  padding-top: 1rem;

  a {
    padding-right: 0.5rem;
  }
}

.proj-tech {
  width: 100%;
  grid-column: auto / span 2;
  justify-self: start;
  display: flex;
  align-items: center;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-item {
  padding: 1px;
  background-color: var(--primary);
  color: var(--background);
  text-wrap: nowrap;
}

@media (max-width: 720px) {
  .project-wrapper {
    grid-template-columns: 1fr;
  }

  .proj-tech {
    grid-column: auto / span 1;
    flex-wrap: wrap;
  }
}

/* Project Image Slider */

.preview-slider {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;

  span {
    position: absolute;
    bottom: 40%;
    font-size: 2rem;
    opacity: 30%;
    background-color: var(--background);
  }

  span:hover {
    cursor: pointer;
    opacity: 70%;
  }
}

.images-container {
  display: flex;
  align-items: center;
  transition: transform 0.2s cubic-bezier(0.06, 0.23, 0.55, 0.8);
}

.right-slider {
  right: 0;
}

.preview-img {
  width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

/* About */

.about-page {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  ul > li {
    padding: 1px;
    color: var(--background);
    text-wrap: nowrap;
  }
}

/* Contact */

.contact-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--text);
  padding: 3rem;
  text-decoration: none;
  color: currentColor;
  position: relative;
  margin: 100px auto 0;
  background-color: var(--background);

  img {
    width: 100px;
    aspect-ratio: 1 / 1;
    filter: invert();
  }

  &:hover {
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0);

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: -2px;
      top: -2px;
      background: linear-gradient(
        45deg,
        #fb0094,
        #0000ff,
        #00ff00,
        #ffff00,
        #ff0000,
        #fb0094,
        #0000ff,
        #00ff00,
        #ffff00,
        #ff0000
      );
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -1;
      animation: steam 20s linear infinite;
    }

    &:after {
      filter: blur(50px);
    }
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (prefers-color-scheme: light) {
  .contact-info {
    img {
      filter: none;
    }
  }
}
